$b: #000;
$w: #fff;
$grey-light: rgba($w, 0.1);
$grey: rgba($b, 0.1);
$grey-dark: rgba($w, 0.2);

// green
$second: $grey;
$second-light: $grey-light;
$second-dark: $grey-dark;

$green: #35ba2a;
$red: #fb0000;
$blue: #82def9;

$bg: #030303;